
<div class="banner" style="background-image:   background: ##561956; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, ##561956, #F4E2D8); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #561956 , #F4E2D8);, url('background.jpg');">
  <div class="banner-content">
    <h1>Pilates on demand</h1>
    <p>Cet été, faites du pilates de chez vous !</p>

    <p><a class="btn btn-primary btn-lg raised">Oui, Je garde la forme cet été</a></p>
    <p><a href="https://www.mcdonalds.fr" class="btn btn-danger btn-lg">non merçi</a></p>
  </div>
</div>
