

<div class="banner" style="background-image: url(<%= image_url("bg.jpg")  %> ) ;">
  <div class="banner-content">

    <h1>Faites du pilates de chez vous !</h1>
    <p>Des dizaines de videos de qualité</p>

    <p><a class="btn btn-primary btn-lg raised clickme">Oui, Je garde la forme cet été</a></p>
<div id="email">
  <form class="form-inline">
<div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="joseph@pilates.com"><br />
  </div><p>
  <button type="submit" class="btn btn-primary">recevoir une invitation</button>
</p>
</form>
</div>

    <p><a href="https://www.mcdonalds.fr" class="btn btn-danger btn-lg">non merçi</a></p>

  </div>
</div>


