
<div class="banner" style="background-image:   background: ##561956; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, ##561956, #F4E2D8); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #561956 , #F4E2D8);, url('background.jpg');">
  <div class="banner-content">
    <br />
    <br />
    <h1>Pilates on demand</h1>
    <p>Cet été, faites du pilates de chez vous !</p>

    <p><a class="btn btn-primary btn-lg raised clickme">Oui, Je garde la forme cet été</a></p>
<div id="email">
  <form class="form-inline">
<div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="joseph@pilates.com"><br />
  </div><p>
  <button type="submit" class="btn btn-primary">recevoir une invitation</button>
</p>
</form>
</div>

    <p><a href="https://www.mcdonalds.fr" class="btn btn-danger btn-lg">non merçi</a></p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <p><i class="fa fa-arrow-circle-down fa-3x scroll-down" aria-hidden="true"></i></p>
  </div>
</div>
<div class="cont">
  <p>lorem ipsumworem ipsumworem ipsumworem ipsumworem ipsumworem ipsumw</p>
  <p>lorem ipsumworem ipsumworem ipsumworem ipsumworem ipsumworem ipsumw</p><p>lorem ipsumworem ipsumworem ipsumworem ipsumworem ipsumworem ipsumw</p><p>lorem ipsumworem ipsumworem ipsumworem ipsumworem ipsumworem ipsumw</p><p>lorem ipsumworem ipsumworem ipsumworem ipsumworem ipsumworem ipsumw</p><p>lorem ipsumworem ipsumworem ipsumworem ipsumworem ipsumworem ipsumw</p><p>lorem ipsumworem ipsumworem ipsumworem ipsumworem ipsumworem ipsumw</p><p>lorem ipsumworem ipsumworem ipsumworem ipsumworem ipsumworem ipsumw</p><p>lorem ipsumworem ipsumworem ipsumworem ipsumworem ipsumworem ipsumw</p><p>lorem ipsumworem ipsumworem ipsumworem ipsumworem ipsumworem ipsumw</p><p>lorem ipsumworem ipsumworem ipsumworem ipsumworem ipsumworem ipsumw</p><p>lorem ipsumworem ipsumworem ipsumworem ipsumworem ipsumworem ipsumw</p><p>lorem ipsumworem ipsumworem ipsumworem ipsumworem ipsumworem ipsumw</p><p>lorem ipsumworem ipsumworem ipsumworem ipsumworem ipsumworem ipsumw</p>
  <p>lorem ipsumworem ipsumworem ipsumworem ipsumworem ipsumworem ipsumw</p>

