/* Main class */
.navbar-pilates {
  //box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
 // background: #561956; /* fallback for old browsers */
//background: -webkit-linear-gradient(to right, #561956 , #561956); /* Chrome 10-25, Safari 5.1-6 */
//background: linear-gradient(to right, #561956 , #561956);

  transition: all 0.3s ease;
  display: flex;
  height: 60px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  margin-top:5px;
}

/* Optional class to fix the navbar on top */
.navbar-pilates-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

/* Navbar logo */
.navbar-pilates-brand img {
  width: 220px;
}
.navbar-pilates-brand:hover img {
  width: 220px;
  background:rgba(100,100,100, 0.3);
}


/* Navbar right section (with form, links, button) */
.navbar-pilates-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar item */
.navbar-pilates-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar standard link */
.navbar-pilates-link {
  color: white;
  font-size: 16px;
}
.navbar-pilates-link:hover {
  color: #561956;
  text-decoration: none;
}

/* Navbar right button */
.navbar-pilates-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: white;
  color: #561956;
  font-size: 14px;
  border: 1px solid #561956;
}
.navbar-pilates-button:hover {
  color: white;
  background: #561956;
  border-color: #561956;
}

/* Navbar search form */
.navbar-pilates-search {
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  position: relative;
}
.navbar-pilates-search-btn {
  line-height: 40px;
  color: #E6E6E6;
  border: none;
  background: transparent;
  position: absolute;
  right: 14px;
  top: -2px;
  z-index: 1;
}
.navbar-pilates-search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
}
.navbar-pilates-search-input:focus  {
  border: 1px solid #CCCCCC;
}

/* Navbar dropdown menu */
.navbar-pilates-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-pilates-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-pilates-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-pilates-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
